# Automl

automl을 활용해 , 모델 선정

https://velog.io/@gyounghwan1002/python-AutoML%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC-pycaret-%EC%82%AC%EC%9A%A9%EB%B2%95


https://john-analyst.medium.com/pycaret-%EC%BD%94%EB%93%9C-%EB%AA%87-%EC%A4%84%EB%A1%9C-%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D-%EB%AA%A8%EB%8D%B8-%EB%A7%8C%EB%93%A4%EA%B8%B0-18a8de4b6024

In [1]:
#!pip install pycaret[full]
#!pip install scikit-learn==0.23.2 --user

In [21]:
import pycaret

In [22]:
import pandas as pd
import sklearn
from sklearn.ensemble import RandomForestRegressor
import numpy as np
import matplotlib.pyplot as plt

In [23]:
#전처리들

train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')


train=train.drop(['id'],axis=1)
test=test.drop(['id'],axis=1)

#na 값을 시간별 평균으로 넣어주자.


def fill_na(df,column):
    print('column : ',column)
    hour_mean = train.groupby('hour').mean()[column]
    
    na_index_list = list( df[df[column].isnull()].index ) #na 인덱스를 받아서.
    
    for ind in na_index_list:
        df.loc[ind,column] = hour_mean[train.loc[ind,'hour']]
        if np.isnan( hour_mean[train.loc[ind,'hour']] ):
            df.loc[ind,column] = train[column].mean()
            #왜냐면, 진짜 그시간대는 모두 na인 경우가 있다. 그때는 전체 평균
             
fill_na(train,'hour_bef_temperature')
fill_na(test,'hour_bef_temperature')

fill_na(train,'hour_bef_windspeed')
fill_na(test,'hour_bef_windspeed')

fill_na(train,'hour_bef_humidity')
fill_na(test,'hour_bef_humidity')

fill_na(train,'hour_bef_visibility')
fill_na(test,'hour_bef_visibility')

fill_na(train,'hour_bef_ozone')
fill_na(test,'hour_bef_ozone')

fill_na(train,'hour_bef_pm10')
fill_na(test,'hour_bef_pm10')

fill_na(train,'hour_bef_pm2.5')
fill_na(test,'hour_bef_pm2.5')


#나머지 데이터 0으로 채우기
train.fillna(0,inplace = True)
test.fillna(0,inplace = True)

column :  hour_bef_temperature
column :  hour_bef_temperature
column :  hour_bef_windspeed
column :  hour_bef_windspeed
column :  hour_bef_humidity
column :  hour_bef_humidity
column :  hour_bef_visibility
column :  hour_bef_visibility
column :  hour_bef_ozone
column :  hour_bef_ozone
column :  hour_bef_pm10
column :  hour_bef_pm10
column :  hour_bef_pm2.5
column :  hour_bef_pm2.5

In [26]:
from pycaret.regression import *


#각종 전처리들을 수행
#feature 선택, scaling 등 모델에 맞게 실시해준다.
reg_test_1 = setup(data=train,
                   target='count', #label 변수를 넣는다.
                   train_size= 0.8,
                   fold=5)

ModuleNotFoundError: No module named 'imblearn'

In [16]:
compare_models()
#validation set에서 가장 우수했던 모델들을 보여준다.

NameError: name 'compare_models' is not defined

In [17]:
et = create_model('et')
#구체적 성능확인

NameError: name 'create_model' is not defined

In [18]:
cb = create_model('catboost')
#구체적 성능확인

NameError: name 'create_model' is not defined

# 파라미터 튜닝

## extra tree

In [12]:
et = create_model('et')
et = tune_model(et,
                optimize='RMSE',
                n_iter=100,)

In [19]:
#튜닝 결과
print(et)

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mae',
                    max_depth=11, max_features=1.0, max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0,
                    min_impurity_split=None, min_samples_leaf=2,
                    min_samples_split=7, min_weight_fraction_leaf=0.0,
                    n_estimators=190, n_jobs=-1, oob_score=False,
                    random_state=3451, verbose=0, warm_start=False)

In [20]:
# test 데이터 추론

final_model = finalize_model(et)
prediction = predict_model(final_model, data=test)

In [21]:
prediction

,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,Label
0,7,20.7,0.0,1.3,62.0,954.0,0.041000,44.000000,27.000000,101.613158
1,17,30.0,0.0,5.4,33.0,1590.0,0.061000,49.000000,36.000000,222.200000
2,13,19.0,1.0,2.1,95.0,193.0,0.020000,36.000000,28.000000,50.878947
3,6,22.5,0.0,2.5,60.0,1185.0,0.027000,52.000000,38.000000,45.915789
4,22,14.6,1.0,3.4,93.0,218.0,0.041000,18.000000,15.000000,52.515789
...,...,...,...,...,...,...,...,...,...,...
710,1,24.6,0.0,2.4,60.0,1745.0,0.035148,54.426230,30.593220,68.623684
711,1,18.1,0.0,1.0,55.0,2000.0,0.053344,58.283333,29.844828,61.626316
712,9,23.3,0.0,2.3,66.0,1789.0,0.020000,17.000000,15.000000,116.865789
713,16,27.0,0.0,1.6,46.0,1956.0,0.032000,40.000000,26.000000,157.778947
714,8,22.3,0.0,1.0,63.0,1277.0,0.007000,30.000000,24.000000,168.955263

In [22]:
submission = pd.read_csv('./data/submission.csv')
submission

       id  count
0       0      1
1       1      1
2       2      1
3       4      1
4       5      1
..    ...    ...
710  2148      1
711  2149      1
712  2165      1
713  2166      1
714  2177      1

[715 rows x 2 columns]

In [23]:
submission['count'] = prediction['Label']

In [24]:
submission.to_csv('베이스라인.csv',index = False)

## catboost tuning

In [27]:
cat = create_model('catboost')
cat = tune_model(cat,
                optimize='RMSE',
                n_iter=100,)

In [32]:
#튜닝 결과
print(cat.get_all_params())

{'nan_mode': 'Min', 'eval_metric': 'RMSE', 'iterations': 190, 'sampling_frequency': 'PerTree', 'leaf_estimation_method': 'Newton', 'grow_policy': 'SymmetricTree', 'penalties_coefficient': 1, 'boosting_type': 'Plain', 'model_shrink_mode': 'Constant', 'feature_border_type': 'GreedyLogSum', 'bayesian_matrix_reg': 0.10000000149011612, 'eval_fraction': 0, 'force_unit_auto_pair_weights': False, 'l2_leaf_reg': 9, 'random_strength': 0.20000000298023224, 'rsm': 1, 'boost_from_average': True, 'model_size_reg': 0.5, 'pool_metainfo_options': {'tags': {}}, 'subsample': 0.800000011920929, 'use_best_model': False, 'random_seed': 3451, 'depth': 8, 'posterior_sampling': False, 'border_count': 254, 'classes_count': 0, 'auto_class_weights': 'None', 'sparse_features_conflict_fraction': 0, 'leaf_estimation_backtracking': 'AnyImprovement', 'best_model_min_trees': 1, 'model_shrink_rate': 0, 'min_data_in_leaf': 1, 'loss_function': 'RMSE', 'learning_rate': 0.15000000596046448, 'score_function': 'Cosine', 'task_type': 'CPU', 'leaf_estimation_iterations': 1, 'bootstrap_type': 'MVS', 'max_leaves': 256}

In [33]:
# test 데이터 추론

final_model = finalize_model(cat)
prediction = predict_model(final_model, data=test)

In [34]:
prediction

,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,Label
0,7,20.7,0.0,1.3,62.0,954.0,0.041000,44.000000,27.000000,104.137317
1,17,30.0,0.0,5.4,33.0,1590.0,0.061000,49.000000,36.000000,195.894932
2,13,19.0,1.0,2.1,95.0,193.0,0.020000,36.000000,28.000000,57.092030
3,6,22.5,0.0,2.5,60.0,1185.0,0.027000,52.000000,38.000000,69.115402
4,22,14.6,1.0,3.4,93.0,218.0,0.041000,18.000000,15.000000,67.264402
...,...,...,...,...,...,...,...,...,...,...
710,1,24.6,0.0,2.4,60.0,1745.0,0.035148,54.426230,30.593220,72.302246
711,1,18.1,0.0,1.0,55.0,2000.0,0.053344,58.283333,29.844828,70.645147
712,9,23.3,0.0,2.3,66.0,1789.0,0.020000,17.000000,15.000000,119.346160
713,16,27.0,0.0,1.6,46.0,1956.0,0.032000,40.000000,26.000000,130.847717
714,8,22.3,0.0,1.0,63.0,1277.0,0.007000,30.000000,24.000000,181.874780

In [35]:
submission = pd.read_csv('./data/submission.csv')
submission

       id  count
0       0      1
1       1      1
2       2      1
3       4      1
4       5      1
..    ...    ...
710  2148      1
711  2149      1
712  2165      1
713  2166      1
714  2177      1

[715 rows x 2 columns]

In [36]:
submission['count'] = prediction['Label']

In [37]:
submission.to_csv('베이스라인.csv',index = False)

## lightgbm

In [38]:
lgbm = create_model('lightgbm')
lgbm = tune_model(lgbm,
                optimize='RMSE',
                n_iter=100,)

In [39]:
#튜닝 결과
print(lgbm)

LGBMRegressor(bagging_fraction=0.6, bagging_freq=2, boosting_type='gbdt',
              class_weight=None, colsample_bytree=1.0, feature_fraction=0.9,
              importance_type='split', learning_rate=0.01, max_depth=-1,
              min_child_samples=6, min_child_weight=0.001, min_split_gain=0.5,
              n_estimators=250, n_jobs=-1, num_leaves=80, objective=None,
              random_state=3451, reg_alpha=0.3, reg_lambda=0.005, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [45]:
# test 데이터 추론

final_model = finalize_model(lgbm)
prediction = predict_model(final_model, data=test)

In [47]:
submission = pd.read_csv('./data/submission.csv')
submission

       id  count
0       0      1
1       1      1
2       2      1
3       4      1
4       5      1
..    ...    ...
710  2148      1
711  2149      1
712  2165      1
713  2166      1
714  2177      1

[715 rows x 2 columns]

In [48]:
submission['count'] = prediction['Label']

In [49]:
submission.to_csv('베이스라인.csv',index = False)

## ensemble

In [50]:
#lightgbm = create_model('lightgbm')
#catboost = create_model('catboost')

blended = blend_models(estimator_list = [et,lgbm, cat], fold = 5)

In [51]:
# test 데이터 추론

final_model = finalize_model(blended)
prediction = predict_model(final_model, data=test)

In [52]:
submission = pd.read_csv('./data/submission.csv')
submission

       id  count
0       0      1
1       1      1
2       2      1
3       4      1
4       5      1
..    ...    ...
710  2148      1
711  2149      1
712  2165      1
713  2166      1
714  2177      1

[715 rows x 2 columns]

In [53]:
submission['count'] = prediction['Label']

In [55]:
submission.to_csv('베이스라인.csv',index = False)